a {
    text-decoration-line: none;
    background-color: white;
    color: rgb(0, 38, 255);
    font-family: monospace;
    font-size: 22px;
    font-weight: bolder;
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    background-color: bisque;
}

.logo {
    background-color: white;
    color: orangered;
    font-family: monospace;
    font-size: 50px;
    font-weight: bolder;
    padding: 8px 32px;
}